body {
   font-family: 'Merriweather', sans-serif;
   margin: 0;
   background-color: #F5DEB3;
}

header {
  background-color: #D2B48C;
  text-align: center;
  padding: 10px ;
  margin: 0;
  box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.5);
}
#title {
 font-family: "Lucida Handwriting", cursive;
  font-size: 2.5rem;
  font-weight: normal; 
  letter-spacing: 1px; 
}

#main {
    margin: 20px auto;
    text-align: justify;
    padding: 20px; 
    max-width: 1000px; 
    background-color: #F5DEB3;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

img {
  display: block;
  margin: 0 auto;
}

#image {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

#main p {
   text-indent: 2em;
}

#main ul {
  line-height: 1.6;
}

#main li {
  margin: 16px 0;
}

#tribute-info {
  padding-bottom:40px;
}

 #main footer {
  background-color:#D2B279;
  margin: -20px;
  padding: 10px;
  text-align: center;
  }

  footer a {
  color: inherit;
}